@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="Klant">Klant</a>
    <a asp-page="Locaties">Locaties</a>
    <h1 class="display-4">Welkom</h1>
    <p>Dit is onze eerste razor page.</p>
</div>



@* <a href="/Klant">Klant</a> *@

